*.m~
*.mexmaci64
*.mexmaci
*.mexw64
*.mexw32
*.mexsol
*.mexglx
*.mexa64
.DS_Store
/model/train
/model/stanford\ 3D
/result
core/tests.m
examples/test.m
thirdparty/clopdemo-09/vs2013
thirdparty/CPD2/data
thirdparty/CPD2/examples
thirdparty/CPD2/core/Nonrigid
data
!/data/HM25
*.mat
*.csv
!/experiments/HM25/*/*.csv
*test.m*
.idea
*tests.m*
examples
